{{!-- Site footer --}}

{{!-- Email subscribe form at the main page --}}
{{#if @labs.subscribers}}
    {{> subscribe}}
{{/if}}

{{!-- Footer --}}
<footer class="footer">
  <div class="footer__top">
    <div class="wrapper container-fluid center-xs">
      <div class="footer__social">
        {{!-- Social Media Links --}} 
        {{> social-media}}
      </div>
      {{!-- Site navigation --}} 
      <div class="footer__nav">
        {{navigation}}
      </div>
    </div>
  </div>
  <div class="footer__bottom">
    Copyright &copy; {{date format="YYYY"}}
    <a href="{{@site.url}}">{{@site.title}}</a>. Proudly published with
    <a href="https://ghost.org">Ghost</a>.
  </div>
</footer>