{{!-- Post Author and Date --}}
{{#primary_author}}{{name}}{{/primary_author}}
<i class="fa fa-clock-o"></i>
<time datetime="{{date format="YYYY-MM-DD"}}" class="timeago">
{{date published_at timeago="true"}}
</time>
<i class="fa fa-comments-o"></i>
<a href="{{url absolute='true'}}#disqus_thread" class="comment-count">0</a>