{{!-- Social Media Links (used in footer and header) --}}
{{!-- Facebook --}}
<a href="{{facebook_url}}" target="_blank" rel="noreferrer"
   title="Facebook" aria-label="Facebook">
  <i class="fa fa-2x fa-facebook" aria-hidden="true"></i>
</a>

{{!-- Twitter --}}
<a href="{{twitter_url}}" target="_blank" rel="noreferrer"
   title="Twitter" aria-label="Twitter">
  <i class="fa fa-2x fa-twitter" aria-hidden="true"></i>
</a>

{{!-- Google Plus --}}
<a href="https://plus.google.com/+googleplus" target="_blank" rel="noreferrer"
   title="Google+" aria-label="Google+">
  <i class="fa fa-2x fa-google-plus" aria-hidden="true"></i>
</a>

{{!-- Linkedin --}}
<a href="https://linkedin.com" target="_blank" rel="noreferrer"
   title="Linkedin" aria-label="Linkedin">
  <i class="fa fa-2x fa-linkedin" aria-hidden="true"></i>
</a>

{{!-- Instagram --}}
<a href="https://instagram.com" target="_blank" rel="noreferrer"
   title="Instagram" aria-label="Instagram">
  <i class="fa fa-2x fa-instagram" aria-hidden="true"></i>
</a>
{{!-- Pinterest --}}

<a href="https://pinterest.com" target="_blank" rel="noreferrer"
  title="Pinterest" aria-label="Interest">
  <i class="fa fa-2x fa-pinterest" aria-hidden="true"></i>
</a>

{{!-- RSS --}}
<a href="/rss" target="_blank" rel="noreferrer"
   title="RSS" aria-label="RSS">
  <i class="fa fa-2x fa-rss" aria-hidden="true"></i>
</a>
