{{!< default}}

{{!-- Page 404 --}}
<div class="wrapper container-fluid">
  <div class="row error">
    <div class="col-xs-12 col-md-6">
      <h1 class="error__title">404</h1> 
    </div>
    <div class="col-xs-12 col-md-6">
      <h4 class="error__subtitle">Page Not Found</h4>
      <p class="error__text">Something went wrong!</p>
      <p class="error__text">We can't seem to find the page you are looking for.</p>
      <div class="error__links"> 
        <a href="{{@site.url}}" class="btn btn__small">
          <i class="fa fa-share fa-flip-horizontal"></i> HOME
        </a>  
        <a href="{{@site.url}}/contact" class="btn btn__small">
          <i class="fa fa-paper-plane"></i> CONTACT
        </a>
      </div>
    </div>
  </div>
</div>
