{{!< default}}

{{!-- Everything inside the #post tags pulls data from the page --}}
{{#post}}
    {{!-- {{> page-head}} --}}

    <div class="content" role="main" id="content">
        {{!-- All page component --}}
        <div class="split clearfix">
            <div class="col-md-9 page-main-area">
                <div class="{{post_class}}">
                    {{!-- Page content wrapper --}}
                    <div class="page-wrapper">
                        {{!-- Social share --}}
                        {{!-- {{> social-share}} --}}
                        <div class="page-content">
                            {{!-- Content --}}
                            {{content}}
                        </div>
                    </div>
                </div>
                {{!-- Disqus comments --}}
                {{> comments}}
            </div>
            {{!-- Sidebar widgets --}}
            {{> sidebar}}
        </div>
    </div>
{{/post}}

