{{!< default}}

{{!-- Page header area --}}
{{#post}}

{{/post}}

{{!-- The main content area on the Categories/Sections page --}}
<div class="wrapper container-fluid">
  {{#get "tags" limit="9" include="count.posts" order="count.posts desc" as |category|}}
    <section class="section category page">
      {{#foreach category}}
        {{> category-posts}}
      {{/foreach}}
    </section>
  {{/get}}
</div>


