{{!< default}}

{{!-- Everything inside the #post tags pulls data from the post --}}
{{#post}}
{{!-- Post elements --}}
<div class="wrapper container-fluid">
  <div class="row">
    <div class="col-lg-9">
      <article class="{{post_class}}">
        {{!-- Social share icons--}}
        {{> post-header}}
        <div class="post-content">
          {{!-- Post content --}}
          {{content}}
        </div>
        {{!-- Bottom share buttons --}}
        {{> post-footer}}
      </article>
      {{!-- Include Post author info --}}
      {{> author-box}}
      {{!-- Include Related Posts --}}
      {{> related-posts}}
      {{!-- Include Disqus Comments --}}
      {{> comments}}
    </div>
    {{!-- Include sidebar --}}
    <aside class="col-lg-3 sidebar">
      {{> sidebar}}
    </aside>
  </div>
</div>

  {{!-- Links to Previous/Next posts --}}
  {{> read-next}}
{{/post}}
