//===================================
// Components => Author Box
//===================================

.author-box {
  background-color: $color-white;
  padding: $spacing-base;
  border-radius: $global-border-radius;
  margin-bottom: $spacing-large;

  @include box-shadow($blur: 0.25em);

  @include mq($from: md) {
    display: flex;
    align-items: center;
    padding: $spacing-large;
  }

  &__img {
    display: block;
    position: relative;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    margin: 0 auto;

    @include cover-background();

    @include mq($from: md) {
      width: 120px;
      height: 120px;
      min-width: 120px;
      margin-right: $spacing-large;
    }

    &:before {
      content: "";
      position: absolute;
      border-radius: 50%;
      border: 5px solid rgba($color-brand, 0.8);
      width: 80px;
      height: 80px;
      background-color: transparent;

      @include mq($from: md) {
        width: 120px;
        height: 120px;
        border-width: 10px;
      }
    }

    &:after {
      content: "";
      position: absolute;
      border-radius: 50%;
      border: 5px solid rgba($color-secondary,0.6);
      top: 5px;
      left: 5px;
      width: 70px;
      height: 70px;
      background-color: transparent;

      @include mq($from: md) {
        width: 110px;
        height: 110px;
      }
    }
  }

  &__details {
    i { margin-right: $spacing-tiny; }
    a { 
      color: $color-dark;
      margin-right: $spacing-small;
    }
  }

  &__name {
    text-align: center;

    @include mq($from: md) { text-align: left; }
  }
}