//===================================
// Components => Footer
//===================================

.footer {
  &__top {
    background-color: rgba($color-dark, 0.9); 
    padding: $spacing-huge 0;
  }

  &__social,
  &__nav {
    padding: $spacing-base 0;
  }

  &__nav {
    .nav__item a {
      color: $color-light;
      text-transform: uppercase;
      font-weight: $font-weight-bold;
      margin: 0 $spacing-tiny;
      font-size: 0.9 * $font-size-base; 
      transition: color $global-transition;

      @include attention () {
        color: $color-white;
      }
    }
  }

  &__bottom {
    padding: $spacing-base 0;
    background-color: $color-dark;
    color: $color-light;
    text-align: center;
    font-size: 0.9 * $font-size-base;

    a {
      color: $color-light;
      font-weight: $font-weight-bold;
    }
  }
}