//===================================
// Components => Section
//===================================

.section {
  margin: 0 0 $spacing-base;
  display: flex;
  flex-direction: row;
  flex-flow: wrap;

  &__title {
    position: relative;
    font-weight: $font-weight-extra-bold;
    padding-left: $spacing-base;

    @include title-special();
  }
}
