//===================================
// Components => Post page
//===================================

.split {
  margin: $spacing-base 0;
  font-family: $font-family-serif;

  @include mq($from: md) {
    margin: $spacing-large 0;
  }

  .content {
    @include mq($from: lg) {
      flex: 1;
    }
  }
}

.post {
  margin-bottom: $spacing-large;

  &.featured {
    .post__title {
      margin: 0 auto $spacing-small;
      text-align: center;
      
      @include mq($from: md) {
        max-width: 80%;
      }
    }

    .post__info {
      justify-content: center;

      @include mq($from: md) {
        margin-bottom: $spacing-large;
      }
    }
  }

  &__title {
    font-size: 1.8 * $font-size-base;

    @include mq($from: md) { font-size: 2.2 * $font-size-base; }

    @include mq($from: lg) { font-size: 2.6 * $font-size-base; }
  }

  &-section-title {
    margin-bottom: $spacing-small;
    @include title-special();
  }

  &__info {
    display: inline-block;
    margin: 0 0 $spacing-base;
    font-family: $font-family-sans-serif;
    font-size: 1.2 * $font-size-base;
    color: $color-dark;
    // font-weight: $font-weight-bold;

    @include mq($from: md) {
      display: flex;
      align-items: center;
    }
    
    &-author {
      margin-right: $spacing-small;

      &--img {
        position: relative;
        width: 40px;
        height: 40px;
        border-radius: 50%;
        margin-right: $spacing-small;
        display: none;

        @include box-shadow($blur: 0.25em);

        @include mq($from: md) {
          display: block;
        }

        @include cover-background();
      }
    }

    time { margin-right: $spacing-small; }

    .tags a { margin: 0; }
  }

  &__body {   
    background-color: $color-white;
    border-radius: $global-border-radius;
    @include box-shadow($blur: 0.25em);
  }

  &__image {
    border-top-left-radius: $global-border-radius;
    border-top-right-radius: $global-border-radius;
  }

  &__content {
    padding: $spacing-huge $spacing-base $spacing-base;
    margin: 0 auto;
    max-width: 600px;
  }

  &__footer {
    display: flex;
    padding: $spacing-base;

    @include mq($from: md) {
      padding: $spacing-large;
    }

    a {
      flex: 1;
      text-align: center;
      padding: $spacing-base;
      margin: 0 $spacing-base 0 0;
      background: transparent;
      border: 2px solid;
      min-width: 0;

      &:last-of-type { margin-right: 0; }

      &.facebook {
        color: $color-facebook;
        border-color: $color-facebook;
        transition: color $global-transition, background-color $global-transition;
        @include box-shadow($top: 5px, $color: rgba($color-facebook, 0.2));

        @include attention() {
          color: $color-light;
          background-color: $color-facebook;
        }
      }

      &.twitter {
        color: $color-twitter;
        border-color: $color-twitter;
        transition: color $global-transition, background-color $global-transition;
        @include box-shadow($top: 5px, $color: rgba($color-twitter, 0.2));

        @include attention() {
          color: $color-light;
          background-color: $color-twitter;
        }
      }

      &.reddit {
        color: $color-reddit;
        border-color: $color-reddit;
        transition: color $global-transition, background-color $global-transition;
        @include box-shadow($top: 5px, $color: rgba($color-reddit, 0.2));

        @include attention() {
          color: $color-light;
          background-color: $color-reddit;
        }
      }
    }
  }
}