//===================================
// Components => Lazyload
//===================================

.lazyload {
  transform: scale(0.9);
  transition: all $global-transition;
}

.lazyload.loaded {
  transform: scale(1);
}