//===================================
// Components => Lazyload
//===================================

.lazyload {
  filter: blur(2px);
  transition: all $global-transition;
}

.lazyload.loaded {
  filter: blur(0);
}